/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/playfair-display-v22-latin-700.woff2') format('woff2'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url('/assets/fonts/playfair-display-v22-latin-700.woff') format('woff');
}
